.example-form {
  width: 100%;
  min-width: 150px;
  max-width: 500px;
}

.example-full-width {
  width: 100%;
}

.example-full-width:nth-last-child(0) {
  margin-bottom: 10px;
}

.button-row {
  margin: 10px 0;
}
